In [1]:
import pandas as pd #reading the dataset
import numpy as np #numerical python 
import matplotlib.pyplot as plt #for plotting graph
import seaborn as sns #to plot in graphical manner

In [2]:
#reading the dataset 
df = pd.read_csv('diabetes.csv')

In [3]:
df.head() #used to display o/p of 1st five in dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
#can also do specifically 
df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [5]:
#Aim : To predict weather a person having diabetes or not
#analysing reports(rows) and columns
df.shape

(768, 9)

In [6]:
df.info() #to check for any categorical value(i.e; object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
 df.isnull() #for checking NULL values

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [8]:
#summing of all columns with NULL values
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
#checking NULL values 
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [11]:
#model_selection having traing and test fit function
from sklearn.model_selection import train_test_split 
#data(attributes) 
#label(outcome)

In [13]:
#storing data in x
#storing label in y
x = df.iloc[:,df.columns!='Outcome'] #data
y = df.iloc[:,df.columns=='Outcome'] #outcome or label

In [14]:
print(x)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [15]:
print(y)

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [17]:
#for training and testing we need 4 variable 
#o/p of xtrain in ytarin 
#o/p of xtest in ytest
#0.2 -> 20% test data
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2)

In [21]:
xtrain.head() #randomly divided data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
762,9,89,62,0,0,22.5,0.142,33
260,3,191,68,15,130,30.9,0.299,34
651,1,117,60,23,106,33.8,0.466,27
623,0,94,70,27,115,43.5,0.347,21
718,1,108,60,46,178,35.5,0.415,24

In [23]:
ytrain.head()

     Outcome
762        0
260        0
651        0
623        0
718        0

In [25]:
#to check for training set shape
ytrain.shape

(614, 1)

In [26]:
xtrain.shape

(614, 8)

In [28]:
xtest.shape

(154, 8)

In [29]:
ytest.shape

(154, 1)

In [30]:
#Algorithm 
from sklearn.ensemble import RandomForestClassifier

In [31]:
model = RandomForestClassifier()

In [34]:
model.fit(xtrain, ytrain.values.ravel()) #fit is a function used to train the data

RandomForestClassifier()

In [38]:
predict_output = model.predict(xtest) #to test the algorithm
print(predict_output) #returns output for provided test data

[0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0
 0 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 1 1 1 0 0 0 1 0 0 0 0 0 1 0
 1 0 1 1 1 0 0 0 1 0 0 1 1 1 0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0
 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 1 0 1
 0 1 1 0 1 0]

In [41]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(predict_output, ytest)
print('The Accuracy score for Random forest :',accuracy)

The Accuracy score for Random forest : 0.7532467532467533